* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: #fff;
  text-transform: uppercase;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suptitle-left {
  display: inline-block;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: 50%;
  }
}

.title1 {
  span {
    font-size: 200px;
    color: rgba(#fff, 0.02);
    font-weight: 800;
  }
  h3 {
    margin: 0;
    color: #fff;
    font-size: 80px;
  }
}
